<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<header th:include="admin/home.html :: header "></header>
<div class="row">
	<div th:include="admin/home.html :: .col-2 " class="col-2 shadow ps-5 pt-3" style="background:#ede1d5;"></div>
	<div class="col-10">
		<svg xmlns="http://www.w3.org/2000/svg" width="55" height="40" fill="#a04e46" class="bi bi-list" viewBox="0 0 16 16">
		  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
		</svg>
		<p class="text-end me-5 pe-5" style="background:#d9d9d9;margin-left:80%;"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-speedometer2 me-2 " viewBox="0 0 18 18">
		  <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
		  <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
		</svg> <span style="font-size:1.1rem;"><b>Home > Articles</b></span></p>
			<h3 class="ms-5 mb-5 bold"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-bookmarks" viewBox="0 0 19 19">
		  <path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z"/>
		  <path d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z"/>
		</svg>Articles</h3>
		<div class="container p-4 bg-body shadow" style="border-radius:20px">
		<form class="form-horizontal" th:action="@{/admin/articles/update}" method="post" enctype="multipart/form-data">
		  <div class="mb-3">
		    <label for="img" class="form-label">Article Image</label>
		    <input type="file" class="form-control" id="img" name="img" th:text="${article.photo}"/>
		  </div>
		  <div class="mb-3">
		    <label for="image" class="form-label">Details Image 1</label>
		    <input type="file" class="form-control" id="image" name="imge" th:text="${article.image}" />
		  </div>
		  <div class="mb-3">
		    <label for="image1" class="form-label">Details Image 2</label>
		    <input type="file" class="form-control" id="image1" name="imge1" th:text="${article.image1}" />
		  </div>
		  <div class="mb-3">
		    <label for="image2" class="form-label">Details Image 3</label>
		    <input type="file" class="form-control" id="image2" name="imge2" th:text="${article.image2}" />
		  </div>
		  <div class="mb-3">
		    <label for="image3" class="form-label">Details Image 4</label>
		    <input type="file" class="form-control" id="image3" name="imge3" th:text="${article.image3}" />
		  </div>
		  <input type="hidden" name="id" th:value="${article.id}" />
		  <div class="mb-3">
		    <label for="name" class="form-label">Designation</label>
		    <input type="text" class="form-control" id="name" name="designation" th:value="${article.designation}" autocomplete="off" />
		  </div>
		  <div class="mb-3">
		    <label for="prix" class="form-label">Prix</label>
		    <input type="number" step="0.1" class="form-control" id="prix" th:value="${article.prix}"  name="prix" autocomplete="off"  />
		  </div>
		  <div class="mb-3">
		    <label for="height" class="form-label">Height</label>
		    <input type="number" step="0.01" value="0.00" class="form-control" th:value="${article.height}" id="height" name="height" autocomplete="off"  />
		  </div>
		  <div class="mb-3">
		    <label for="width" class="form-label">Width</label>
		    <input type="number" step="0.01" value="0.00" class="form-control" th:value="${article.width}" id="width" name="width" autocomplete="off"  />
		  </div>
		  <div class="mb-3">
		    <label for="q" class="form-label">Quantite</label>
		    <input type="number" step="1" class="form-control" id="q" name="quantite" th:value="${article.quantite}" autocomplete="off" />
		  </div>
		  <div class="mb-3 ">
		    <select class="form-select selectpicker" name="categorie" title="select categories .." data-actions-box="true">
		    	<option th:each="c: ${categories}"  th:value="${c.id}" >[[${c.name}]]</option>
		   
		    </select>
		  </div>
		  <div class="mb-3 ">
		    <label for="description" class="form-label">Description</label>
		    <textarea class="form-control" autocomplete=off name="description" th:text="${article.description}" id="description" style="width:100%; height:150px;"></textarea>
		  </div>
		  <div class="mb-3 ">
		    <label for="moredescription" class="form-label">Description</label>
		    <textarea class="form-control" autocomplete=off name="moredescription" th:text="${article.moredescription}" id="description" style="width:100%; height:150px;"></textarea>
		  </div>
		  
		  <button type="submit" class="btn mb-2" style="background:#b28860;color:#f5f5f5;border-radius:10px;font-size:1.2rem;width:10%;height:47px;"><b>Modifier</b></button>
		</form>
		</div>
	</div>
</div>
</body>
</html>